@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* header banner */
.container {
    width: 1100px;
    height: 570px;
    border-radius: 30px;
    background-color: #161616;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 100px;
    margin-top: 40px;
}

.container img {
    height: 537px;
    width: 400px;
    margin-top: 33px;
    padding-left: 30px;
}

.top {
    color: white;
    width: 531px;
    height: 424px;
    margin-left: 111px;
    margin-top: 106px;
}

h1 {
    font-size: 50px;
}

.button {

    width: 150px;
    height: 60px;
    background-color: rgba(223, 41, 41, 0.767);
    color: white;
    border-radius: 5px;
    border: none;
    transition: width 5s, height 5s;
}

.button:hover {
    width: 200px;
    height: 70px;
    color: black;
    background-color: crimson;
}

/* header end  */


/* nav  */
.grids {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 100px;
}

.grid {
    box-sizing: border-box;
    background-color: rgba(245, 245, 245, 0.808);
    border-radius: 10px;

}

.grid-img img {
    width: auto;
    height: auto;
}

.grid-btn {
    margin-left: 10px;
    height: 30px;
    width: 90px;
    border-radius: 4px;
    border: 1px solid;
}

.grid-info,
.grid-duration {
    padding-left: 10px;
}

.match {
    display: flex;
}

.nav {


    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    padding: 30px;
    background-color: black;
    width: 252px;
    height: 252px;
    margin-top: 100px;
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 30px;



}

.btn {
    text-align: center;
    border-radius: 10px;
    font-size: 20px;

}

#btn {
    background-color: rgba(156, 67, 67, 0.562);
    color: white;
}

.icon {
    display: flex;

}

.icon img {
    padding-left: 20px;
}


/* footer */


.footer {
    background-color: #161616;
    height: 400px;
    margin-top: 100px;
}

hr {
    width: 1100px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 40px;
}

#goal {
    color: #FFFFFF;
    text-align: center;
    size: 40px;
    padding-top: 100px;
}

.links {
    text-align: center;
}

.link {
    text-decoration: none;
    color: #B9B9B9;
    padding-left: 50px;


}

.icon-link {
    text-decoration: none;
    text-align: center;
}

.fa-facebook {
    color: #FFFFFF;

}

.fa-instagram {
    color: #FFFFFF;
    padding: 20px;
}

.fa-linkedin {
    color: #FFFFFF;
}



/* media quaries  */

@media only screen and (max-width: 668px) {
    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: auto;
        width: 100%;

    }

    .top {
        margin: 0px;
        text-align: center;
        height: auto;

    }

    .nav {
        background: none;

    }


    .match,
    .grids {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;



    }

    .links {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}


/* -------tab---------- */

@media only screen and (min-width: 669px) and (max-width: 940px) {
    .container {

        justify-content: end;
        margin-left: 0px;
    }


    .top {

        text-align: center;
        height: auto;
    }


    .match {

        display: grid;

    }

    .nav {
        background: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .btn {
        height: 60px;
        width: 150px;
    }

    .grids {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        margin-top: 0px;


    }
}